<!--
    * Author: Michel Schlatter
    * Date: 28.07.2019
    * Version: 1.0
-->

<div class="modal fade" id="messageDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="modalTitle" style="padding: 0 !important; margin: 0 !important;" class="modal-title col-md-12">Modal title</h5>

            </div>
            <div id="textBody" class="modal-body">

            </div>
            <div class="modal-footer">
                <button id="btnCancel" type="button" class="btn btn-primary">Ok</button>
            </div>
        </div>
    </div>
</div>